<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SyncRevenue.Properties.Settings.KEVN" connectionString="Data Source=10.10.10.87;Initial Catalog=incentive;Persist Security Info=True;User ID=incentive;Password=Zz123456;Asynchronous Processing=False;MultipleActiveResultSets=True;Connect Timeout=1500;ConnectRetryCount=100" providerName="System.Data.SqlClient"/>
        <add name="SyncRevenue.Properties.Settings.ORAC" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.10.8)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ttce))); USER ID = adempiere;Password = lqmtttc88;" providerName="Oracle.DataAccess.Client"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
