@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Layout/LAdmin.cshtml";
}

<div class="row">
    <dir class="col-md-12">
        <div class="box box-warning">
            <div class="box-body">
                <div id="gridContainer"></div>
            </div>
        </div>
    </dir>
</div>

<script src="@Url.Content("~/Resource/scripts/app/account/User.js")"></script>
<script>

    var usr = new User({
        id: "#gridContainer",
        permit: { add: true, edit: true, delete: true, addOrgchart: true, addRole: true, deleteOrgchart: true, deleteRole: true}
    });
    usr.Init();
</script>