@inherits System.Web.Mvc.WebViewPage

<div class="tab-pane active" id="settings">
    <form class="form-horizontal" id="#changepass-form" method="post" action="#">
        <div class="form-group">
            <label for="oldpass" class="col-sm-2 control-label">Old Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="oldpass" name="oldpass" placeholder="Old Password">
            </div>
        </div>
        <div class="form-group">
            <label for="newpass" class="col-sm-2 control-label">New Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="newpass" name="newpass" placeholder="New Password">
            </div>
        </div>
        <div class="form-group">
            <label for="newpassconfirm" class="col-sm-2 control-label">Confirm password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="newpassconfirm" name="newpassconfirm" placeholder="Confirm password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="submit" class="btn btn-success">Save</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" id="msg">
            </div>
        </div>


    </form>
</div>
<script type="text/javascript">
    $('#submit').click(function () {
        var url = getURL('api/core/user/ChangePassword'); // the script where you handle the form input.

        $.ajax({
            type: "POST",
            url: url,
            data: { oldpass: $('#oldpass').val(), newpass: $('#newpass').val(), newpassconfirm: $('#newpassconfirm').val() }, // serializes the form's elements.
            success: function (data) {
                $('#msg').empty();
                var msg = '<div class="callout callout-info"><h4>Response:</h4><p>'+data+'</p></div>'; // show response from the php script.
                $('#msg').append(msg);

            }
        });

        //e.preventDefault(); // avoid to execute the actual submit of the form.
    });
</script>