@inherits System.Web.Mvc.WebViewPage
    
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="@Url.Content("~/Resource/scripts/app/Accounting/Depting.js")"></script>
</head>
<body>
    <div>
        <script>
            var dep = new Depting();
        </script>
    </div>
</body>
</html>
