@inherits System.Web.Mvc.WebViewPage
    
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="@Url.Content("~/Resource/scripts/app/Accounting/SyncRevenue.js")"></script>
    <style>
        .form-fix {
            padding-bottom: 10px;
        }
        .height100{
            height:100%;
        }
    </style>
</head>
<body>
    <div>
        <script>
            var syn = new SyncRevenue();
        </script>
    </div>
</body>
</html>
