@inherits System.Web.Mvc.WebViewPage
@{

    Layout = "~/Layout/LAdmin.cshtml";
}
<script src="@Url.Content("~/Resource/scripts/app/master/Province.js")"></script>
<script src="@Url.Content("~/Resource/scripts/app/master/District.js")"></script>
<div class="row">
    <div class="col-md-6">
        <div class="box box-warning">
            <div class="box-header with-border"></div>
            <div class="box-body">
                <script>
                    var pro = new Province();
                </script>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-warning">
            <div class="box-header with-border"></div>
            <div class="box-body">
                <script>
                    var dis = new District();
                </script>
            </div>
        </div>
    </div>
</div>


<script>
    pro.Component.on("selectionChanged", function (e) {
        dis.UpdateProvince(e.currentSelectedRowKeys[0]);
    });
    
</script>

