@inherits System.Web.Mvc.WebViewPage
<script src="@Url.Content("~/Resource/scripts/app/master/Unit.js")"></script>

<div class="row">
    <div class="col-md-4">
        <div class="box box-warning">
            <div class="box-header with-border"></div>
            <div class="box-body">
                <script>
                    var uni = new Unit();
                </script>
            </div>
        </div>
    </div>
    
</div>


