@inherits System.Web.Mvc.WebViewPage


<script src="@Url.Content("~/Resource/scripts/app/Master/Vendor.js")"></script>
    

<div class="row">    
    <div class="col-md-12 column">
        <div class="box box-warning">            
            <div class="box-body">
                <script>
                    var ven = new Vendor();

                </script>
            </div>            
        </div>       
        
    </div>
</div>   
