@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Layout/LAdmin.cshtml";
}
<script src="@Url.Content("~/Resource/scripts/core/Page.js")"></script>
<div class="row">
    <dir class="col-md-12">
        <div class="box box-warning">
            <div class="box-body">
                <div id="gridContainer">
                    <script>
                        var pag = new Page();
                    </script>
                </div>
            </div>
        </div>
    </dir>
</div>
