<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.10.10.87</MSDeployServiceURL>
    <DeployIisAppPath>papi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="KE_DB_ORACLE_READONLY" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="USER ID=adempiere;PASSWORD=lqmtttc88;DATA SOURCE=&quot;(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.10.8)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ttce)))&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KE_DB_ORACLE_READONLY_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.10.8)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ttce))); USER ID = adempiere;Password = lqmtttc88;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KE_DB_MSSQL_STR_CONN" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.10.87;Initial Catalog=kevncore;User ID=kevncore;Password=Kevncore@2018@)!*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KE_DB_MSSQL_STR_CONN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=10.10.10.87;database=kevncore;uid=kevncore;pwd=Kevncore@2018@)!*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KE_DB_KES_MOBI" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=210.211.121.146;Initial Catalog=KE_MMS;User ID=kespro;Password=P@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KE_DB_KES_MOBI_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=210.211.121.146;database=KE_MMS;uid=kespro;pwd=P@ssw0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KE_DB_KES_WEB" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=210.211.121.146;Initial Catalog=DB_KE_KEMS;User ID=kespro;Password=P@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KE_DB_KES_WEB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=210.211.121.146;database=DB_KE_KEMS;uid=kespro;pwd=P@ssw0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KE_DB_API" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=210.211.121.152;Initial Catalog=KEM;User ID=sa;Password=database@1986" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KE_DB_API_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=210.211.121.152;database=KEM;uid=sa;pwd=database@1986" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KE_DB_API-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KE_DB_KES_MOBI-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KE_DB_KES_WEB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KE_DB_MSSQL_STR_CONN-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KE_DB_ORACLE_READONLY-Web.config Connection String" />
  </ItemGroup>
</Project>